@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
  min-height: 100vh;
  padding: 2rem;
  @media (max-width: 600px) {
    padding: 0.4rem;
  }
}
