@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: grid;
  max-width: 100vw;
  background-color: var(--rose-50);
  @media (max-width: 600px) {
  }
}
.hide {
  display: none;
}

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  background-color: var(--red);
  color: var(--rose-100);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 1rem;
}

dialog {
  inset: 0px;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
}

dialog,
dialog::backdrop {
  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
    opacity 0.3s;
  opacity: 0;
}

dialog[open],
dialog[open]::backdrop {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}
