@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background-color: #3a4663;
  --color-text: #fff;
  --color-text-secondary: #9b9b9b;

  --secondary-background-color: #242d44;
  --ternary-background-color: #d03f2f;
  --ternary-background-color-active: #f96b5b;
  --display-background-color: #181f33;

  --buttons-background-color: #eae3dc;
  --buttons-background-color-active: #fffffe;
  --buttons-secondary-background-color: #647198;
  --buttons-secondary-background-color-active: #a2b2e1;
  --buttons-secondary-box-shadow: #414e73;
  --buttons-ternary-box-shadow: #93261a;
  --buttons-color-text: #434a59;
  --buttons-box-shadow: #b3a497;
}

[data-theme="second"] {
  --primary-background-color: #e6e6e6;
  --color-text: #36362c;
  --secondary-background-color: #d2cdcd;
  --ternary-background-color: #c85402;
  --ternary-background-color-active: #ff8a38;
  --display-background-color: #eeeeee;
  --buttons-background-color: #e5e4e1;
  --buttons-background-color-active: #ffffff;
  --buttons-secondary-background-color: #378187;
  --buttons-secondary-background-color-active: #62b5bc;
  --buttons-secondary-box-shadow: #1b6066;
  --buttons-ternary-box-shadow: #873901;
  --buttons-color-text: var(--color-texts);
  --buttons-box-shadow: #a79e91;
}

[data-theme="third"] {
  --primary-background-color: #17062a;
  --color-text: #ffe53d;
  --secondary-background-color: #1e0936;
  --ternary-background-color: #00ded0;
  --ternary-background-color-active: #93fff8;
  --display-background-color: #1e0936;
  --buttons-background-color: #331c4d;
  --buttons-background-color-active: #6c34ac;
  --buttons-secondary-background-color: #56077c;
  --buttons-secondary-background-color: #8631af;
  --buttons-secondary-box-shadow: #be15f4;
  --buttons-ternary-box-shadow: #6cf9f1;
  --buttons-color-text: var(--color-texts);
  --buttons-box-shadow: #881c9e;
}

body {
  background-color: var(--primary-background-color);
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  @media (max-width: 500px) {
    place-items: flex-start;
  }
}
