:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

section {
  border: 1px dotted lightskyblue;
  margin: 1rem;
  padding: 1rem;
}
article {
  border: 1px dotted lightskyblue;
  margin: 1rem;
  padding: 1rem;
}

.active {
  color: green;
  border-bottom: 2px dashed green;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
